Packages
.build
xcuserdata
*.xcodeproj
DerivedData/
.DS_Store
db.sqlite
.swiftpm

# Don’t store the certificate and key in version control.
# Must always generate these locally. See README for more info.
development.crt
development.key
